{% extends "base.html" %}
{% block title %}Chỉnh sửa giảng viên{% endblock %}

{% block content %}

<div class="edit-box mt-4">

    <h3 class="text-white">Chỉnh sửa giảng viên</h3>
    <hr style="border-color:#3d3d57;">

    <form method="POST" enctype="multipart/form-data">

        <label>Tên giảng viên</label>
        <input type="text" name="name" class="form-control" value="{{ teacher.name }}" required>

        <label>Mô tả / Kinh nghiệm</label>
        <textarea name="bio" class="form-control" rows="4">{{ teacher.bio }}</textarea>

        <label>Ảnh đại diện mới (tuỳ chọn)</label>
        <input type="file" name="avatar" class="form-control">

        <div class="mt-2">
            <small>Ảnh hiện tại:</small>
            <br>
            <img src="{{ teacher.avatar }}" width="80" class="rounded-circle mt-2">
        </div>

        <button class="btn-save mt-4">Cập nhật giảng viên</button>
    </form>
</div>

{% endblock %}